/******** GLOBAL STYLES ********/
html {
  font-size: 16px;
}

body {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-size: 0.9em;
  color: #000;
}

h1,
h2,
h3,
h4 {
  text-transform: uppercase;
  font-weight: 700;
}

h1 {
  font-size: 1.875em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.25em;
}

h4 {
  font-size: 0.75em;
}

p {
  font-size: 1rem;
  line-height: 36px;
}

.content-wrapper {
  max-width: 1200px;
  width: 90%;

  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}

/******** HEADER STYLES ********/
header {
  text-align: center;

  display: flex;
  justify-content: center;
}
header h1 {
  width: 100%;
  margin: 0;
  padding: 38px 0 20px;
  border-bottom: 3px solid #77a466;
}

header h1 span {
  color: #45610e;
}

header nav {
  /*width: 300px;*/
  padding: 20px 0;
}

header nav ul {
  margin: 0;
  padding: 0;
}

header nav ul li {
  width: 100%;
  list-style-type: none;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 10px 0;
}

header nav ul li a {
  color: #45610e;
  text-decoration: none;
}

/********  MAIN STYLES ********/
.top-section,
.bottom-section {
  display: flex;
  justify-content: center;
}

/******** TOP SECTION ********/
.main-image img {
  border-top: 3px solid #77a466;
  border-bottom: 3px solid #77a466;

  width: 100%;
}

.main-title h2 {
  color: #45610e;
  padding: 5px 0;
}

/******** BOTTOM SECTION ********/
.bottom-section .content-wrapper {
  border-top: 5px solid #e7e7e7;
  border-bottom: 5px solid #e7e7e7;
}

.section-one,
.section-two,
.section-three {
  width: 100%;
  box-sizing: border-box;
  padding: 0 40px;
}

.section-one {
  /* width: 350px; */
}

.section-two {
  /* width: 500px; */
  border-top: 5px solid #e7e7e7;
  border-bottom: 5px solid #e7e7e7;
}

.section-three {
  /* width: 350px; */
}

.bottom-section h3 {
  padding: 30px 0;
  margin: 0;
}

.menu-list {
  padding-left: 0;
  list-style: none;
}

.menu-list li {
  color: #45610e;
  line-height: 36px;
}

/******** FOOTER STYLES ********/
footer {
  text-align: center;
  margin-top: 8px;

  display: flex;
  justify-content: center;
}

footer span {
  font-family: "Gochi Hand", cursive;
  text-transform: lowercase;
  color: #45610e;
  font-size: 1.2rem;
}

/********** breakpoints **********/

@media all and (min-width: 768px) {
  /* Tablet styles here */
  .bottom-section .content-wrapper {
    justify-content: space-evenly;
    border-top: 5px solid #e7e7e7;
    border-bottom: 5px solid #e7e7e7;
  }

  .section-one,
  .section-two,
  .section-three {
    width: 100%;
    box-sizing: border-box;
    padding: 0 40px;
  }

  .section-one {
    width: 30%;
  }

  .section-two {
    width: 40%;
    border: none;
    border-left: 5px solid #e7e7e7;
    border-right: 5px solid #e7e7e7;
    padding: 0 30px;
  }

  .section-three {
    width: 30%;
  }
}

@media all and (min-width: 1200px) {
  /* Desktop styles here */
  body {
    font-size: 1em;
  }

header .content-wrapper {
  padding: 25px 0;

  justify-content: space-between;
  align-items: center;
}

header h1 {
  text-align: left;
  width: 30%;
  padding: 0;
  border-bottom: none;
}
header nav {
  width: 21%;
}

header nav ul {
  display: flex;
  justify-content: space-between;
}
}
